@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-yellow-500;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  height: .5rem;

}

::-webkit-scrollbar-thumb {
  background-color: rgba(46, 52, 64, 1);
  background-clip: padding-box;
  border-radius: 0.5rem;
  border: 0.15rem solid transparent;
}

body {
  background: linear-gradient(45deg, #042461 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #340447 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0f053a 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #050813 100%, rgba(9, 245, 5, 0) 70%);
}

* {
  font-family: 'Questrial', sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.home-bg {
  transition: all;
  animation: bg_rotate 2s ease-in-out infinite linear backwards;

}

@keyframes bg_rotate {
  0% {
    background-position: top;
  }

  100% {
    background-position: bottom;
  }
}